body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
    box-sizing: border-box;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .progress-bar {
    width: 80%;
    height: 30px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    display: none;
  }
  
  .progress {
    width: 0;
    height: 100%;
    background: #4caf50;
    transition: width 0.2s;
  }
  
  canvas {
    display: none;
    border: 3px solid #ffffff;
    background-image: url("imagenes/paraiso.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }

  .controls {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .controls img {
    
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .controls img:hover,
  .controls img.pressed {
    transform: scale(0.9); 
    filter: brightness(0.9);
  }

